@model Muse.Models.User

@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/HomeStyle.css" type="text/css" />
}

<h1 id="greeting">@Html.DisplayFor(model => model.Name)'s</h1>

<section>
    <div class="div">
        <a class="link subdiv" asp-controller="Musings" asp-action="Musing">
            <h2>Muse Now</h2>
            <img src="~/images/icon.jpg" alt="Newspaper Outline">
        </a>
    </div>
    <div class="div">
        <a class="link subdiv" asp-controller="Musings" asp-action="Index">
            <h2>- My Timeline -</h2>
            <img src="~/images/timeline.jpg" alt="Timeline Outline">
        </a>
    </div>
    <div class="div">
        <a class="link subdiv" asp-controller="Musings" asp-action="Metrics">
            <h2>Over Time</h2>
            <img src="~/images/changes.jpg" alt="Question Mark">
        </a>
    </div>
</section>
