@model Muse.Models.User

@{
    ViewData["Title"] = "Home";
}

@section Styles {
   <link rel="stylesheet" href="~/css/Home.css" type="text/css" />
}

<h1 id="greeting">@Html.DisplayFor(model => model.Name)'s</h1>

<section>
    <div class="div">
        <a class="link subdiv" asp-controller="Musings" asp-action="News">
            <h2>Muse about the News</h2>
            <img src="~/images/news.jpg" alt="Newspaper Outline">
        </a>
    </div>
    <div class="div">
        <a class="link subdiv" asp-controller="Musings" asp-action="Index">
            <h2>- My Timeline -</h2>
                <img src="~/images/timeline.jpg" alt="Timeline Outline">
        </a>
    </div>
    <div class="div">
        <a class="link subdiv" asp-controller="Musings" asp-action="Meaning">
            <h2>Muse about Meaning</h2>
            <img src="~/images/question.jpg" alt="Question Mark">
        </a>
    </div>
</section>

