@{
    ViewData["Title"] = "Journal";
}

@section Styles {
    <link rel="stylesheet" href="~/css/entry.css" type="text/css" />
}

@*<section></section>*@
<form method="post">     <div>         <label for="title">Title:</label>         <input type="text" id="title" placeholder="Title or Prompt">     </div>     <div>         <label for="suds">Score:</label>         <select id="suds">             <option value="">--Subjective Units of Distress--</option>             <option value=0>0</option>             <option value=1>1</option>             <option value=2>2</option>             <option value=3>3</option>             <option value=4>4</option>             <option value=5>5</option>             <option value=6>6</option>             <option value=7>7</option>             <option value=8>8</option>             <option value=9>9</option>             <option value=10>10</option>         </select>         <a href="https://www.havening.org/media/articles/04c490_42c325da785c49e5ba972866d7058c8a.pdf"><img src="~/img/suds.jpg" alt="Click for More Information"></a>     </div>     <div>         <label for="entry">Entry:</label>         <textarea type="text" id="entry"></textarea>     </div>     <input type="submit" /> </form>