body {
  display: grid;
  grid-template: auto auto auto/ 1fr;
  border: 5px solid red;
}

header {
  grid-row: 1;
  display: flex;
  font-size: 2em;
  border: 5px solid yellow;
}

#greeting {
  border: 5px solid grey;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#settings-link {
  border: 5px solid purple;
  display: flex;
  align-items: center;
}

#settings-border {
  border: 1px double gray;
  border-radius: 10px;
  padding: 3px;
  width: auto;
  margin-left: auto;
  margin-right: 10px;
}

#quote {
  border: 2px double blue;
  grid-row: 2;
  text-align: center;
  color: green;
  font-style: italic; 
}

section {
  grid-row: 3;
  display: flex;
  border: 5px solid green;
  width: 90%;
  margin: auto;
}

div {
  text-align: center;
  border: 5px solid black;
}

.subdiv {
  border: 5px solid orange;
}