/* @import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Belleza&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Bungee+Hairline&display=swap'); */


* {
  /* font-family: 'Cinzel', serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Poiret One', cursive; */
  /* font-family: 'El Messiri', sans-serif; */
  /* font-family: 'Belleza', sans-serif; */
  /* font-family: 'Lato', sans-serif;
  font-family: 'Bungee Hairline', cursive;
  font-weight: bold; */
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
} 

header {
  padding-top: 75px;
  font-size: 8em;
}

nav {
  font-size: 3em;
}

footer {
  position: absolute;
  bottom: 10px;
  color: #99a1b4;
}

ul {
  display: inline-flex;
  padding-bottom: 25px;
}

li {
  list-style-type: none;
}