body {
  display: grid;
  grid-template: auto auto auto / 1fr;
  border: 5px solid red;
}

header {
  grid-row: 1;
  display: flex;
  font-size: 2em;
  border: 5px solid yellow;
}

#entry-navigation {
  border: 5px solid black;
  height: 90vh;
  max-height: 100vh;
  overflow: auto;  
}