body {
    display: grid;
    grid-template: auto auto auto/ 1fr;
}

header {
    grid-row: 1;
}

h2 {
    text-align: center;
    margin-top: 5px;
}

#greeting {
    font-size: 3em;
    margin-top: 50px;
    color: #E8E8E8;
    grid-row: 2;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0%{
        color: red;
    }
    15% {
        color: orange;
    }
    30% {
        color: yellow;
    }
    45% {
        color: lightgreen;
    }
    60% {
        color: blue;
    }
    75% {
        color: darkslateblue;
    }
    90% {
        color: indigo;
    }
    100% {
        color: #E8E8E8;
    }
}

section {
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    justify-content: center;
}

.subdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div {
    border: 4px outset rgb(100, 100, 100);
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
    min-height: 250px;
}