body {
    display: grid;
    grid-template: auto auto auto/ 1fr;
}

header {
    grid-row: 1;
}

#quote {
    grid-row: 2;
    text-align: center;
    /*font-style: italic;*/
    padding-top: 15px;
}

section {
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
}

.div {
    border: 5px outset rgb(100, 100, 100);
    padding: 10px;
    margin: 5px;
    width: 350px;
    min-height: 250px;
    max-height: 300px;
}