h2, .link, #quote, #news {
    text-align: center;
    padding-bottom: 10px;
}

div {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.form-control {
    margin-bottom: 5px;
}

#entry {
    border-radius: 5px;
    padding: 3px;
    border: 1px double rgb(231, 231, 231);
    background-color: rgb(241, 241, 241);
}

#entry:hover {
    border: 1px double rgb(241, 241, 241);
    background-color: rgb(231, 231, 231);
    font-weight: bold;
}


/*#pulse {
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

#breathe:hover {
    border-radius: 50%;
    animation: shadow-pulse 5s infinite;
}


@keyframes shadow-pulse {
    0% {
        border: 5px solid rgba(0, 0, 255, 0);
        
    }

    100% {
        border: 5px solid rgba(0, 0, 255, 0.4);
    }
}*/
