@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    padding: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
}

    header > * {
        display: flex;
        align-items: center;
    }

#frontpagelink {
    padding-left: 10px;
    color: #101010;
    letter-spacing: .1em;
    /* font-size: 3em; */
    text-shadow: -1px -1px 1px #000, 2px 2px 1px #262626;
}

#settings-link {
    padding-right: 10px;
}

#settings-border {
    border-radius: 5px;
    padding: 5px;
    border: 1px double rgb(231, 231, 231);
    background-color: rgb(241, 241, 241);
}

#settings-border:hover {
    border: 1px double rgb(241, 241, 241);
    background-color: rgb(231, 231, 231);
}


.error {
    color: red;
}