@section Styles {
    <link rel="stylesheet" href="~/css/index.css" type="text/css"/>
}

<header>
    <h1>MUSE</h1>
    <nav>
        <a class="link" id="begin" asp-area="" asp-controller="Home" asp-action="Homepage">- BEGIN -</a>
    </nav>
</header>
<section>
    <a class="nav link" href="https://github.com/jillirami/Muse/blob/master/README.md">
        ABOUT PROJECT
    </a>
    <a class="nav link" href="">
        DEMO
    </a>
    <a class="nav link" href="https://jillirami.github.io/">
        ABOUT CREATOR
    </a>
</section>