body {
    border: 5px solid red;
    display: grid;
    grid-template: auto auto auto/ 1fr;
    /*min-width: 500px;*/
}

header {
    border: 5px solid yellow;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}

header > * {
    display: flex;
    align-items: center;
}

#greeting {
    border: 5px solid grey;
}

#settings-link {
    border: 5px solid purple;
    margin-right: 10px;
}

#settings-border {
    border: 1px double gray;
    border-radius: 10px;
    padding: 3px;
}

#quote {
    border: 2px double blue;
    grid-row: 2;
    text-align: center;
    color: green;
    font-style: italic;
}

section {
    border: 5px solid green;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

div {
    border: 5px solid black;
    text-align: center;
    display: inline;
    width: 30%;
    /*min-width: 200px;*/
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}

.subdiv {
    border: 5px solid orange;
}
