* {
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 3s;
}

body {
    background-color: #e2f2ff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header {
    background: radial-gradient(closest-side, white, #e2f2ff);
    padding-top: 75px;
    color: #101010;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #000, 2px 2px 1px #262626;
}

h1 {
    font-size: 15em;
}

nav {
    font-size: 3em;
    color: #101010;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #000, 2px 2px 1px #262626;
}

.link:hover {
    color: #424242;
}

section {
    position: absolute;
    bottom: 25px;
    height: 50px;
}

ul {
    display: inline-flex;
    padding-bottom: 20px;
}

li {
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 5px;
}

#privacy:hover {
    text-decoration: underline;
}