* {
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 3s;
}

body {
    background-color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    max-height: 75vh;
    max-width: 100vw;
    padding-top: 75px;
    color: #101010;
    letter-spacing: .1em;
    font-size: 3em;
    text-shadow: -1px -1px 1px #000, 2px 2px 1px #262626;
}

h1 {
    padding-top: 25px;
}

.link:hover {
    color: #424242;
    color: lightgray;
}

section {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 25px;
}

.nav:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 5px;
    color: gray;
    font-size: 0.8em;
}