@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    font-weight: bold;
}

footer {
    color: #adadad;
}

#privacy {
    color: #5a5a5a;
}