@model Muse.Models.Musing

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Musing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Title or Prompt"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SUDS" class="control-label"></label>
                <select asp-for="SUDS" class="form-control">
                    <option value="">--Subjective Units of Distress--</option>
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                </select>
                <span asp-validation-for="SUDS" class="text-danger"></span><br />
                <a href="https://www.havening.org/media/articles/04c490_42c325da785c49e5ba972866d7058c8a.pdf"><img src="~/images/funsuds.gif" alt="Click for More Information"></a>
            </div>
            <div class="form-group">
                <label asp-for="Entry" class="control-label"></label>
                <textarea asp-for="Entry" class="form-control" type="text"></textarea>
                <span asp-validation-for="Entry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Entry" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
