@model Muse.Models.Musing

@{
    ViewData["Title"] = "Edit";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Edit.css" type="text/css" />
}

<h2>Edit Musing</h2>

<div class="row">
    <section>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <p>
                <label asp-for="Title" class="control-label"></label>
            </p>
            <p>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </p>
            <p>
                <label asp-for="Date" class="control-label"></label>
            </p>
            <p>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </p>
            <p>
                <label asp-for="SUDS" class="control-label"></label>
            </p>
            <p>
                <input asp-for="SUDS" class="form-control" />
                <span asp-validation-for="SUDS" class="text-danger"></span>
            </p>
            <p><label asp-for="Entry" class="control-label"></label></p>
            <p>
                <textarea asp-for="Entry" class="form-control"></textarea>
                <span asp-validation-for="Entry" class="text-danger"></span>
            </p>
            <p><label asp-for="Aspirations" class="control-label"></label></p>
            <p>
                <input asp-for="Aspirations" class="form-control" />
                <span asp-validation-for="Aspirations" class="text-danger"></span>
            </p>
            <input type="submit" value="Save" id="save" />
        </form>
    </section>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
