@{
    ViewData["Title"] = "Meaning";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Entry.css" type="text/css" />
}

<h2>Muse about Meaning</h2>

<section class="api">API calls assign value to prompt section</section>

<h1 id="quote">QUOTE OF THE DAY</h1>

<partial name="../Musings/Create" />

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
}