@{
    ViewData["Title"] = "Meaning";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Entry.css" type="text/css" />
}

<section>
    <p>VADER Sentiment Analysis. VADER (Valence Aware Dictionary and sEntiment Reasoner) is a lexicon and rule-based sentiment analysis tool that is specifically attuned to sentiments expressed in social media, and works well on texts from other domains.</p>
    <p>About Sentiment Scoring</p>
    <p>
        The compound score is computed by summing the valence scores of each word in the lexicon,
        adjusted according to the rules, and then normalized to be between -1 (most extreme negative)
        and +1 (most extreme positive). This is the most useful metric if you want a single unidimensional
        measure of sentiment for a given sentence. Calling it a 'normalized, weighted composite score' is accurate.
    </p>

    <p>It is also useful for researchers who would like to set standardized thresholds for classifying 
        sentences as either positive, neutral, or negative. Typical threshold values (used in the literature cited on this page) are: </p>

    <p>- positive sentiment: compound score >= 0.05</p>
    <p>- neutral sentiment: (compound score > -0.05) and (compound score < 0.05)</p>
    <p>- negative sentiment: compound score <= -0.05</p>
    <p>
        The pos, neu, and neg scores are ratios for proportions of text that fall
        in each category (so these should all add up to be 1... or close to it with float operation).
        These are the most useful metrics if you want multidimensional measures of sentiment for a given sentence.
    </p>
</section>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="~/js/meaning.js"></script>
}