@{
    ViewData["Title"] = "News";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Entry.css" type="text/css" />
}

<section id="prompts">
    <h2>Muse</h2>

    <p class="link" id="quote">About a Famous Quote</p>
    <p id="quoteresponse"></p>

    <p class="link" id="news">About the Top NYTimes News</p>
    <p id="newsresponse"></p>


</section>

<section id="createform">
    <partial name="../Musings/Create" />
</section>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="~/js/news.js"></script>
}