@{
    ViewData["Title"] = "News";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Entry.css" type="text/css" />
}

<h2>Muse about the News</h2>

<section class="api">API calls assign value to prompt section</section>

<partial name="../Musings/Create" />